.login-container{

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#0B5ED7,#063970);

}

.login-box{

    width:420px;

    background:#fff;

    border-radius:12px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,.2);

}

.logo{

    text-align:center;

    margin-bottom:35px;

}

.logo i{

    font-size:60px;

    color:#0B5ED7;

    margin-bottom:15px;

}

.logo h1{

    color:#1f2937;

}

.logo p{

    margin-top:10px;

    color:#777;

}

.input-group{

    margin-bottom:20px;

}

.input-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

}

.input-field{

    display:flex;

    align-items:center;

    border:1px solid #ddd;

    border-radius:8px;

    padding:12px;

}

.input-field i{

    color:#888;

}

.input-field input{

    flex:1;

    border:none;

    padding-left:10px;

    font-size:15px;

}

.toggle-password{

    cursor:pointer;

}

button{

    width:100%;

    padding:15px;

    background:#0B5ED7;

    border:none;

    color:white;

    font-size:16px;

    border-radius:8px;

    transition:.3s;

}

button:hover{

    background:#094bb0;

}

button i{

    margin-right:8px;

}